<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="MySuite">
    <groups>
        <run>
            <include name="smoke"/>
        </run>
    </groups>
    <test name="MyTests">
        <classes>
            <class name="BeforandAfter"/>
            <class name="TestNGBasic.NeedofTestNG"/>
            <class name="TestNGBasic.NeedofTestNG"/>
        </classes>
    </test>
</suite>